.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text-color);
    background: url("../../../assets/nav-bar-background.png");
    background-repeat: no-repeat;
    background-size: 100vw max(20vh, 10em);
    min-height: max(20vh, 10em);
    padding: 0 var(--navbar-padding-side);
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 2*var(--navbar-padding-side))
}

.navBar>* {
    padding-bottom: 2em;
}

.navBarItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}


.navBarItem {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.225rem;
    position: relative;
    color: var(--secondary-text-color);
    text-decoration: none;
    padding: 2px 0;
}

.navBarItem:hover {
    color: var(--tertiary-text-color);

    .navBarItemBackground {
        opacity: 1;
    }
}

.active {
    color: var(--tertiary-text-color);
}

.navBarItem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary-text-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.navBarItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navBarItemBackground {
    opacity: 0;
    position: absolute;
    color: var(--tertiary-text-color);
    top: 2px;
    left: 0;
    filter: blur(2px);

    transition: all 0.5s ease;
}

.hamburger {
    background: none;
    border: none;
    font: inherit;
    color: var(--secondary-text-color);
    z-index: 2;
}

.hamburger:hover {
    color: var(--tertiary-text-color);
    cursor: pointer;
}

.navBarItemsHamburger {
    position: absolute;
    padding: 2em;
    background-color: var(--primary-color);
    right: 5vw;
    top: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
    transition: all .5s ease;
    border-radius: 0 0 2em 2em;
}

.title {
    color: var(--secondary-text-color);
    padding-top: 10px;
    /* To account for spacing */
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    z-index: 1;
    /* background: rgba(171, 204, 178, .2); */
}

.title:hover {
    color: var(--tertiary-text-color);
}

.titleText {
    padding-top: 10px;
    margin: 0;
}

@media only screen and (min-width: 701px) {

    .hamburger {
        display: none;
    }

    .navBarItemsHamburger {
        display: none;
    }

    .blocker {
        display: none;
    }

    .navBarItems {
        display: flex;
    }
}


@media only screen and (max-width: 700px) {

    .hamburger {
        display: flex;
    }

    .navBarItems {
        display: none;
    }
}