.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text-color);
    background: url("../../../assets/nav-bar-background.png");
    background-size: cover;
    min-height: 6rem;
    padding: 0 var(--navbar-padding-side) var(--section-padding-top);
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 2*var(--navbar-padding-side))
}


.navBarItems {
    display: flex;
    flex-direction: row;
    gap: 2em;
}


.navBarItem {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.225rem;
    position: relative;
    color: var(--secondary-text-color);
    text-decoration: none;
    padding: 2px 0;
}

.navBarItem:hover {
    color: var(--tertiary-text-color);
}

.active {
    color: var(--tertiary-text-color);
}

.navBarItem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary-text-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.navBarItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navBarItemBackground {
    position: absolute;
    top: 2px;
    left: 0;
    filter: blur(1.5px);
}

.title {
    color: var(--secondary-text-color);
}

.title:hover {
    color: var(--tertiary-text-color);
}