.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
    padding-top: 0;
}


.navBarItems {
    display: flex;
    flex-direction: row;
    gap: 2em;
}


.navBarItem {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.225rem;
    position: relative;
    color: var(--secondary-text-color);
    text-decoration: none;
    padding: 2px 0;
}

.navBarItem:hover {
    color: var(--tertiary-text-color);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.navBarItem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary-text-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navBarItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navBarItemBackground {
    position: absolute;
    top: 2px;
    left: 0;
    filter: blur(1.5px);
}

.navBarBackground:hover {
    color: var(--tertiary-text-color);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}