.aboutImage {
    flex-grow: 1;
    flex-basis: 0;
    align-self: center;
}

.aboutImage>img {
    max-width: 100%;
    height: auto;
    border-radius: 8em;
}

.aboutContent {
    flex-grow: 2;
    flex-basis: 0;
}