.intro {
    height: 95vh;
    background-image: url("../../assets/home/home-intro-background-full.png");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    padding-top: 0 !important;
    padding-bottom: 0;
}

.intro>img {
    position: absolute;
}

.introDrawingWrapper {
    height: 95vh;
    display: flex;
    align-items: center;
}

.homeIntroDrawing {
    position: absolute;
    width: auto;
    height: min(60vh, 30vw);
    left: 15vw;
    animation-name: intro-drawing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes intro-drawing {
    0% {
        transform: translateY(-2vh);
    }

    100% {
        transform: translateY(0);
    }
}

/* left blob */
.blob1 {
    left: 13vw;
    top: 54vh;
    width: 3vw;
    animation: blob-1 2s infinite alternate;
}

@keyframes blob-1 {
    0% {
        transform: translateY(3vh);
    }

    100% {
        transform: translateY(0);
    }
}

/* right blob */
.blob2 {
    left: 34vw;
    top: 17vh;
    width: 3.5vw;
    animation: blob-2 2s infinite alternate;
}

@keyframes blob-2 {
    0% {
        transform: translateY(3vh);
    }

    100% {
        transform: translateY(0);
    }
}

.introText>div {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.bubble1 {
    top: 15vh;
    opacity: 1;
    left: 41vw;
    grid-template-rows: auto 1fr;
    grid-template-columns: 24vw 1fr;
    animation: bubble1 5s ease-in-out 1;
    /* animation-direction: alternate; */
}

@keyframes bubble1 {
    0% {
        transform: translateY(30vh);
        opacity: 0;
    }


    80% {
        transform: translateY(-1%);
    }

    90% {
        transform: translateY(.5%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.bubble2 {
    top: 24vh;
    opacity: 1;
    left: 72vw;
    grid-template-rows: auto 1fr;
    grid-template-columns: 16vw 1fr;
    animation: bubble2 8s ease-in-out 1;

}

@keyframes bubble2 {
    0% {
        transform: translateY(26vh);
        opacity: 0;
    }

    31.25% {
        transform: translateY(26vh);
        opacity: 0;
    }

    86% {
        transform: translateY(-.5%);
    }

    93% {
        transform: translateY(.5%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.bubble3 {
    top: 45vh;
    opacity: 1;
    left: 62vw;
    grid-template-rows: auto 1fr;
    grid-template-columns: 12vw 1fr;
    animation: bubble3 10s ease-in-out 1;
}

@keyframes bubble3 {
    0% {
        transform: translateY(9vh);
        opacity: 0;
    }

    66% {
        transform: translateY(9vh);
        opacity: 0;
    }

    86% {
        transform: translateY(-1%);
    }

    93% {
        transform: translateY(1%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.bubbleBackground {
    /* width: 30vw; */
    opacity: .7;
    grid-area: 1 / 1 / 2 / 2;
}

.bubbleText {
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1.8vw;
    font-weight: 700;
    padding: 1em;
}

.projects {
    padding-top: 0;
}

.projectsGrid {
    display: flex;
    flex-direction: column;
}

.projectRow {
    display: flex;
    gap: 5em;
}

.projectPic {
    flex: 1;
}

.projectDesc {
    flex: 3;
}


@media only screen and (max-width:700px) {
    .intro {
        height: 75vh;
        background-size: 100vw 75vh;
    }

    .introDrawingWrapper {
        height: 75vh;
    }

    .homeIntroDrawing {
        height: 35vw;
        left: 12vw;
    }

    .bubbleText {
        font-size: 2vw;
    }

    .bubble1 {
        top: 20vh;
        grid-template-columns: 26vw 1fr;
    }

    .bubble2 {
        top: 24vh;
        left: 70vw;
        grid-template-columns: 20vw 1fr;
    }

    .bubble3 {
        top: 40vh;
        left: 58vw;
        grid-template-columns: 15vw 1fr;
    }

    .blob1 {
        top: 45vh;
    }

    .blob2 {
        top: 17vh;
    }
}