.projectHeader {
    /* background-color: var(--primary-color); */
    text-align: center;
}

.projectHeader>img {
    width: 60%;
    padding-top: 2rem;
}

.projectSection>p {
    padding-left: 5vw;
}

.projectSection {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.carouselImage {
    display: block;
    width: auto !important;
    height: auto;
    max-width: 80%;
    max-height: 80vh;
    margin: auto;
}

.video {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}