.projectHeader {
    /* background-color: var(--primary-color); */
    text-align: center;
}

.projectHeader>img {
    width: 60%;
    padding-top: 2rem;
}

.projectSection>p {
    padding-left: 5vw;
}

.projectSection {
    padding-top: 2vh;
    padding-bottom: 2vh;
}