.intro {
    min-height: 95vh;
    background-image: url("../../../assets/home-intro-background-full.png");
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    padding-top: 0 !important;
    padding-bottom: 0;
}

.intro>img {
    position: absolute;
}

.homeIntroDrawing {
    /* width: 25vw; */
    width: auto;
    height: min(60vh, 30vw);
    /* top: 18vh; */
    left: 15vw;
    animation-name: intro-drawing;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes intro-drawing {
    from {
        top: 17vh;
    }

    to {
        top: 19vh;
    }
}

/* left blob */
.blob1 {
    left: 13vw;
    top: 54vh;
    width: 3vw;
    animation-name: blob-1;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blob-1 {
    from {
        top: 57vh;
    }

    to {
        top: 54vh;
    }
}

/* right blob */
.blob2 {
    left: 34vw;
    top: 20vh;
    width: 3.5vw;
    animation-name: blob-2;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blob-2 {
    from {
        top: 20vh;
    }

    to {
        top: 17vh;
    }
}

.introText {
    position: absolute;
    left: 50vw;
    top: 15vh;
    width: 40vw;
}

.introText p {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-text-color);
    margin: 10vh 0;
}

.projects {
    padding-top: 0;
}

.projectsGrid {
    display: flex;
    flex-direction: column;
}

.projectRow {
    display: flex;
    gap: 5em;
}

.projectPic {
    flex: 1;
}

.projectDesc {
    flex: 3;
}