.footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../assets/footer-background.png");
    background-size: cover;
    min-height: 8em;
    padding-top: 6em;
    gap: 1em;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
}

.contact {
    color: var(--secondary-text-color);
    /* font-weight: 500; */
}

.copyright {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-style: italic;
}