.projectPreview {
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    padding: 1rem 0;
    flex: 1 0;
}

.projectPreview:hover {
    opacity: .6;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.projectName {
    margin-bottom: 0;
    color: var(--primary-text-color);
}

.projectDate {
    margin-top: 0.5em;
    font-weight: 500;
    color: var(--primary-color);
}

.projectImage {
    width: 100%;
    height: auto;
}